<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
         <rewrite>
            <rules>            
                <rule name="HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="false" redirectType="Permanent" />
                </rule>             
                <rule name="Node.js reverse proxy" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" appendQueryString="true" />
                    <serverVariables>
                        <set name="HTTP_Origin" value="https://<your domain name>" />
                        <set name="HTTP_X-Forwarded-Proto" value="https" />
                        <set name="HTTP_X-Forwarded-Host" value="<your domain name>" />
                    </serverVariables>                        
                </rule>
            </rules>     
        </rewrite>
        <defaultDocument enabled="true" />
    </system.webServer>
</configuration>
