<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
         <rewrite>
            <rules>            
                <rule name="HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="false" redirectType="Permanent" />
                </rule>             
                <rule name="Node.js reverse proxy" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" appendQueryString="true" />
                    <serverVariables>
                        <set name="Origin" value="https://testing-nccrd-windows.saeon.ac.za"  />
                        <set name="Host" value="{HTTP_HOST}"  />
                        <set name="X-Forwarded-Proto" value="https"  />
                        <set name="X-Forwarded-Host" value="testing-nccrd-windows.saeon.ac.za"  />
                    </serverVariables>                        
                </rule>
            </rules>         
        </rewrite>
        <defaultDocument enabled="true" />
    </system.webServer>
</configuration>
